<!DOCTYPE html>
<html lang="ja">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Security-Policy" content="default-src * data: gap: https://ssl.gstatic.com 'unsafe-eval' 'unsafe-inline'; style-src * 'unsafe-inline'; media-src *; img-src * data: content: blob:;">
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="css/start.css">
  <script src="js/methods_bootstrap.js"></script>
  <script src="js/components_bootstrap.js"></script>
  <script src="js/components_utils.js"></script>
  <script src="js/vue_utils.js"></script>
  <script src="js/gql_utils.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/vconsole/dist/vconsole.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.7/dat.gui.min.js"></script>

  <script src="https://sdk.amazonaws.com/js/aws-sdk-2.949.0.min.js"></script>
  <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
  <script src="https://unpkg.com/amazon-kinesis-video-streams-webrtc/dist/kvs-webrtc.min.js"></script>

  <!-- <link rel="stylesheet" href="https://www.gstatic.com/assistant/immersivecanvas/css/styles.css"> -->
  <script src="https://www.gstatic.com/assistant/interactivecanvas/api/interactive_canvas.min.js"></script>

  <title>WebRTC Broadcast : Viewer</title>
</head>
<body>
    <div id="top" class="container-fluid" v-bind:style="{ 'margin-top': margin + 'px' }">
      <h1>WebRTC Broadcast : Viewer</h1>
      <hr>

      <collapse-panel id="webrtc_config_panel" class="panel-default" title="KVSWebRTC">
        <span slot="content">
          <div class="panel-body">
            <label class="title">AWS_ACCESSKEY_ID</label>
            <input type="text" class="form-control" v-model="aws_accesskey_id">
            <label class="title">AWS_SECRET_ACCESSKEY</label>
            <input type="password" class="form-control" v-model="aws_secret_accesskey">
            <label class="title">CLIENT_ID</label>
            <input type="text" class="form-control" v-model="signaling_client_id">
            <div class="form-inline">
              <label class="title">SIGNALING_CHANNEL_NAME</label>
              <select class="form-control" v-model="signaling_channel_name">
                <option value="signaling-test">signaling-test</option>
                <option value="Room1">Room1</option>
                <option value="Room2">Room2</option>
                <option value="Room3">Room3</option>
              </select>
            </div>
            <button class="btn btn-primary" v-on:click="startViewer" v-bind:disabled="webrtc_opened">Start Viewer</button>
          </div>
          <div class="panel-footer">
            <button class="btn btn-default" v-on:click="panel_close('#webrtc_config_panel')">閉じる</button>
          </div>
        </span>
      </collapse-panel>

      <div class="form-inline">
        <label>connected</label> {{webrtc_opened}}
        <button class="btn btn-primary" v-on:click="stopViewer" v-bind:disabled="!webrtc_opened">Stop Viewer</button>
      </div>
      <br>
      <div>
        <video v-bind:style="video_style" id="remote-view" class="img-thumbnail" v-bind:width="width + 'px'" v-bind:height="height + 'px'" autoplay playsinline controls />
      </div>
      <br>
      <div class="form-inline">
        <label>sendMessage</label>
        <input type="text" class="form-control" v-model="message_data">
        <button class="btn btn-default" v-on:click="send_message">Send</button>
      </div>
      <br>
      <pre class="pre-scrollable">{{message_logs}}</pre>
      <br>
      <br>

      <!-- for progress-dialog -->
      <progress-dialog v-bind:title="progress_title"></progress-dialog>
    </div>

  <script src="js/webrtc_viewer.js"></script>
  <script src="js/start_viewer.js"></script>
</body>
